.header-bg {
    background: var(--cor-escura); 
    height: 96px; 
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
}

.header h1 {
    color: var(--cor-fundo);
    padding-top: 36px;
    padding-bottom: 36px;
    height: 100%; 
    box-sizing: border-box;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.header-menu {
    display: flex;
    gap: 60px;
}

.header-menu a {
    color: var(--cor-fundo);
    padding-top: 36px;
    padding-bottom: 36px;
    display: inline-block;
    transition: color 0.3s;
    font-weight: 500;
    font-size: 18px;
}

.header-menu a:hover {
    color: var(--cor-destaque);
}

.mobile-button {
    display: none;
}

@media (max-width: 800px) {
    .header-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 96px;
        right: 0px;
        background: var(--cor-escura);
        width: 50vw;
        height: calc(100vh - 96px);
        padding: 20px;
        gap: 20px;
        z-index: 100;
    }

    .header-menu.ativo {
        display: flex;
    }

    .mobile-button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        border: none;
        color: var(--cor-fundo);
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    .hamburguer {
        display: block;
        width: 24px;
        height: 2px;
        background: var(--cor-fundo);
        position: relative;
        transition: .3s;
    }

    .hamburguer::before,
    .hamburguer::after {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background: var(--cor-fundo);
        position: absolute;
        transition: .3s;
    }

    .hamburguer::before {
        top: -8px;
    }

    .hamburguer::after {
        top: 8px;
    }

    .mobile-button.ativo .hamburguer {
        background: transparent;
    }

    .mobile-button.ativo .hamburguer::before {
        transform: rotate(45deg);
        top: 0;
    }

    .mobile-button.ativo .hamburguer::after {
        transform: rotate(-45deg);
        top: 0;
    }
}

